<h1>Workout Plans</h1>
<% if user_signed_in? %>
<div class="actions">
  <%= link_to 'Create New Plan', new_plan_url, class: "btn btn-default btn-lg" %>
</div>
<% end %>
<br>
<% @plans.each do |plan| %>
  <h2><%= link_to plan.name, plan_url(plan.id) %></h2>
<% end %>
